{% extends 'todo/base.html' %}

{% block container %}
    <form class="mb-3" method="post" action="">
    {% csrf_token %}
        <div class="form-group">
            <input type="text" class="form-control text-center" placeholder="schudeler a task" name="task_name">
        </div>
        <button type="submit" class="btn btn-outline-primary form-control">Add task</button>
    </form>
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6">
                <h4 class="border-left-0 border-top-0 border-right-0 border border-primary">Tasks to do</h4>
                {% if list_tasks_todo %}
                    {% for task in list_tasks_todo %}
                    <div class="border border-primary m-2 p-1">
                        <p>{{task.task_name}}  {{task.date|date:"d M Y"}}</p>
                        <a href="{% url 'task_done' task.id %}" class="btn btn-outline-success">Do</a>
                        <a href="{% url 'delete' task.id %}" class="btn btn-outline-danger">Delete</a>
                    </div>
                    {% endfor %}
                {% else %}
                    Nothing
                {% endif %}
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6">
                <h4 class="border-left-0 border-top-0 border-right-0 border border-success">Tasks already do</h4>
                {% if list_tasks_already_do %}
                    {% for task in list_tasks_already_do %}
                    <div class="border border-success m-2 p-1">
                        <p>{{task.task_name}}  do the {{task.date|date:"m/d/Y"}}</p>
                        <a href="{% url 'delete' task.id %}" class="btn btn-outline-danger">Delete</a>
                    </div>
                    {% endfor %}
                {% else %}
                    Nothing
                {% endif %}
            </div>
        </div>
{% endblock %}